<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<style>
    .fix {
    /* Height and width fallback for older browsers. */
    height: 100%;
    width: 100%;
    
    /* Set the height to match that of the viewport. */
    height: 100vh;
    
    /* Set the width to match that of the viewport. */
    width: 100vw;
    
    /* Remove any browser-default margins. */
    margin: 0;
}
</style>
<!-- add header later -->
<div class="fix">        
    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://titanembeds.com/embed/549642809574162458" allowfullscreen></iframe>
    </div>
</div>